@import "../../styles";

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $min-width;
  margin: auto;

  &__actions {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  &__mark {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      text-align: center;
    }

    .button {
      margin: 20px auto;
    }
  }

  &__rate {
    margin-top: 10px;
    display: flex;
    width: 200px;
    justify-content: space-between;

    label {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__reviews {
    display: flex;
    flex-direction: column;
    width: 380px;

    .button {
      margin-top: 20px;
    }
  }

  &__review {
    border: 1px solid $dark-blue;
    border-radius: 13px;
    padding: 5px;
    margin: 10px 0;

    h4 {
      margin: 0;
      font-size: 22px;
    }

    p {
      margin: 0;
    }
  }
}
