<main>
  <app-header></app-header>
  <body>
  <section class="page">
    <h2 class="page__name">{{book ? book.name : "Загрузка..."}}</h2>
    <p class="page__rated" *ngIf="mark > 0">Оценка пользователей: {{mark}}</p>
    <p class="page__description">{{book ? book.description : "Загрузка описания..."}}</p>
    <div class="page__actions" *ngIf="user">
      <button
        (click)="buy()"
        *ngIf="!owned"
        class="page__link button"
      >Купить</button>

      <a
        *ngIf="owned"
        class="page__link button"
        href="../../assets/pdfs/{{book!.link}}"
      >Открыть</a>

      <button
        (click)="add()"
        *ngIf="!favourite"
        class="page__link button"
      >Нравится</button>

      <button
        (click)="remove()"
        *ngIf="favourite"
        class="page__link button"
      >Не нравится</button>
    </div>
    <div class="page__mark" *ngIf="!rated">
      <h3>Оцените книгу</h3>
      <div class="page__rate">
        <label for="rate--1">
          1
          <input type="radio" name="rate" value="1" id="rate--1">
        </label>
        <label for="rate--2">
          2
          <input type="radio" name="rate" value="2" id="rate--2">
        </label>
        <label for="rate--3">
          3
          <input type="radio" name="rate" value="3" id="rate--3">
        </label>
        <label for="rate--4">
          4
          <input type="radio" name="rate" value="4" id="rate--4">
        </label>
        <label for="rate--5">
          5
          <input type="radio" name="rate" value="5" id="rate--5">
        </label>
      </div>
      <button class="button" (click)="rate()">Отправить</button>
    </div>
    <div class="page__reviews">
      <h3>Отзывы:</h3>
      <p class="page__error" *ngIf="badReview">
        Отзыв пустой или содержит некорректные выражения
      </p>
      <textarea name="review" id="reviews" cols="30" rows="10" placeholder="Напишите свой отзыв..."></textarea>
      <button class="button" (click)="sendReview()">Отправить отзыв</button>
      <div class="page__review" *ngFor="let review of reviews">
        <h4>{{review.userId}}</h4>
        <p class="page__review__description">
          {{review.text}}
        </p>
      </div>
    </div>
    <ng-template #unauth class="page__message">Для взаимодействия авторизуйтесь</ng-template>
  </section>
  </body>
</main>
