<main>
  <app-header></app-header>
  <body>
  <section class="games">
    <h2 class="games__name">Доступные игры на сайте:</h2>
    <ul class="games__list">
      <li class="games__item">
        <app-card
          bookName="Test Game"
          [cost]="100"
          description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis debitis dolorem ducimus eaque eius eos exercitationem explicabo neque, rerum sint vero! A accusantium adipisci aperiam corporis cum cumque debitis delectus dolores eius eos, esse fugit hic impedit in ipsum reprehenderit tempore ullam?"
          category="Фантастика"
          link=""
        ></app-card>
      </li>
    </ul>
  </section>
  </body>
</main>
